* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
}

.navbar-nav .nav-item .nav-link.active {
    color: #4F939A !important;
}

#logo {
    background-image: url("../images/Taskids_logo.png");
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

nav {
    border-bottom: #EBEBEB 1px solid;
}

.navbar-nav {
    margin-left: 40px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.search-input {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.search-input input {
    padding-left: 30px;
    border-radius: 32px;
    width: 100%;
}

.search-input input::placeholder {
    color: #4F939A;
}

.search-input .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFC107;
}

.nav-item {
    font-size: x-large;
    margin-left: 30px;
}

.btn {
    color: #fff;
    border-color: #4F939A;
    background-color: #6EAAB2;
}

.btn:hover {
    background-color: #6EAAB2;
    color: white;
    border-color: #6EAAB2;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #6EAAB2;
}

.btn:active {
    background-color: #4F939A !important;
    color: white !important;
    border-color: #4F939A !important;
    outline: none !important;
    box-shadow: 0 0 0 2px #6EAAB2 !important;
}

.sort-section {
    display: flex;
    align-items: center;
    border-bottom: #EBEBEB 1px solid;
    padding-bottom: 20px;
}

.sort-section span {
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}

.sort-tag {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    outline: none;
}

.sort-tag:focus {
    outline: none;
}

.sort-tag.active {
    background-color: #4F939A;
    color: white;
    border-color: #4F939A;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    cursor: pointer;
    
}

.card .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

.card .title {
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: bold;
}

.card .subDetails {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.card .details {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
}

.card .details .coins {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
}

#coinIcon {
    color: #FFC107;
}

.card .details .assigned-to,
.card .details .deadline {
    margin-top: 5px;
}

.card.green .icon {
    color: #1D9313;
}

.card.yellow .icon {
    color: #FFC104;
}

.card.red .icon {
    color: #DC3545;
}

@media (max-width: 1080px) {
    .search-input {
        margin-right: 0;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .navbar-nav .nav-item {
        font-size: large;
        margin-left: 20px;
    }

    .sort-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .sort-section span,
    .sort-tag {
        margin-bottom: 10px;
    }
}

#kid-savings {
    font-size: 1.7rem;
    color: #e6ad05;
    display: flex;
    align-items: center;
}

#kid-savings i {
    margin-right: 5px;
}


#messages li {
    font-size: 1.2em;
    margin: 10px 0;
    background: linear-gradient(30deg, #9b5de5, #f15bb5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px;
}

.color-picker {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 110px;
    font-size: 1.2em;
}

.color-picker svg {
    width: 1.2em;
    height: 1.2em;
}

.color-options {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 35px;
    right: 10px;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#joke-section {
    position: absolute;
    top: 130px;
    right: 5%;
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    align-self: flex-start;
}

#joke-section button {
    width: 100%;
    margin-top: 5px;
}

#joke-setup, #joke-delivery {
    font-size: 14px;
}